header {
  background: rebeccapurple;
  margin-bottom: 1rem;

  h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1,
  h1 a {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1 a {
    font-size: 1.25rem;
  }
}
